flows.json
[
    {
        "id": "697e89ea22f759ba",
        "type": "tab",
        "label": "Control Activar/Desactivar",
        "disabled": false,
        "info": ""
    },
    {
        "id": "90082ebf7d7e4788",
        "type": "ui_switch",
        "z": "697e89ea22f759ba",
        "name": "Interruptor Vasos",
        "label": "Activar Servo",
        "tooltip": "Activa o desactiva el servo",
        "group": "grupo1",
        "order": 1,
        "width": "6",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "tacho/activacion/servo1",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "cf9baefa11f349b9",
                "e432338cb6115626"
            ]
        ]
    },
    {
        "id": "cf9baefa11f349b9",
        "type": "mqtt out",
        "z": "697e89ea22f759ba",
        "name": "Publicar Activaci贸n",
        "topic": "tacho/activacion/servo1",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5f3b35a4.8158fc",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "c9536e152ffdfb75",
        "type": "mqtt in",
        "z": "697e89ea22f759ba",
        "name": "Escuchar Activaci贸n",
        "topic": "tacho/activacion/servo1",
        "qos": "2",
        "datatype": "auto",
        "broker": "5f3b35a4.8158fc",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "63a0b2bab15c92c3"
            ]
        ]
    },
    {
        "id": "63a0b2bab15c92c3",
        "type": "function",
        "z": "697e89ea22f759ba",
        "name": "Preparar INSERT",
        "func": "let valor;\nif (msg.payload === \"1\") {\n    valor = 1;\n} else if (msg.payload === \"0\") {\n    valor = 0;\n} else {\n    valor = null;\n}\n\nif (valor === null) {\n    return null;\n}\n\nmsg.query = \"INSERT INTO dispensador_log(valor) VALUES ($1)\";\nmsg.params = [valor];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "8d9fcba20faa974b",
                "fd9f94a79247e47b"
            ]
        ]
    },
    {
        "id": "8d9fcba20faa974b",
        "type": "debug",
        "z": "697e89ea22f759ba",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "32b9d0c542414fc8",
        "type": "debug",
        "z": "697e89ea22f759ba",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "fd9f94a79247e47b",
        "type": "postgresql",
        "z": "697e89ea22f759ba",
        "name": "",
        "query": "INSERT INTO dispensador_log(valor) VALUES ($1) RETURNING *;",
        "postgreSQLConfig": "7dba17bbd84fcdde",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 650,
        "y": 200,
        "wires": [
            [
                "32b9d0c542414fc8"
            ]
        ]
    },
    {
        "id": "e432338cb6115626",
        "type": "mqtt out",
        "z": "697e89ea22f759ba",
        "name": "Publicar Activaci贸n",
        "topic": "tacho/activacion/servo2",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5f3b35a4.8158fc",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "a003556c076145f3",
        "type": "mqtt in",
        "z": "697e89ea22f759ba",
        "name": "Escuchar Activaci贸n",
        "topic": "tacho/activacion/servo2",
        "qos": "2",
        "datatype": "auto",
        "broker": "5f3b35a4.8158fc",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "63a0b2bab15c92c3"
            ]
        ]
    },
    {
        "id": "6a09f69598a851b5",
        "type": "mqtt in",
        "z": "697e89ea22f759ba",
        "name": "Lectura Sensor Agua",
        "topic": "tacho/sensor/agua",
        "qos": "0",
        "datatype": "auto",
        "broker": "0f9e1744b90d29b2",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 740,
        "wires": [
            [
                "8556c7094463d89c",
                "505b89741ae113a2",
                "2c7fe049064f849a"
            ]
        ]
    },
    {
        "id": "8556c7094463d89c",
        "type": "ui_chart",
        "z": "697e89ea22f759ba",
        "name": "Gr谩fica de Sensor",
        "group": "b9368bcd6ac405fb",
        "order": 1,
        "width": 12,
        "height": 6,
        "label": "Nivel de agua",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando datos...",
        "dot": false,
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00bfff",
            "#00ff00",
            "#ff0000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "06c93122925afe71",
        "type": "mqtt in",
        "z": "697e89ea22f759ba",
        "name": "Estado Agua",
        "topic": "tacho/sensor/estado",
        "qos": "0",
        "datatype": "auto",
        "broker": "0f9e1744b90d29b2",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 840,
        "wires": [
            [
                "3dfc03d7c9dadd13",
                "73d2258bd8ed3105"
            ]
        ]
    },
    {
        "id": "3dfc03d7c9dadd13",
        "type": "ui_text",
        "z": "697e89ea22f759ba",
        "group": "b9368bcd6ac405fb",
        "order": 2,
        "width": 6,
        "height": 2,
        "name": "Estado Actual",
        "label": "Estado del sensor",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 420,
        "y": 840,
        "wires": []
    },
    {
        "id": "505b89741ae113a2",
        "type": "debug",
        "z": "697e89ea22f759ba",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 800,
        "wires": []
    },
    {
        "id": "73d2258bd8ed3105",
        "type": "debug",
        "z": "697e89ea22f759ba",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 900,
        "wires": []
    },
    {
        "id": "2c7fe049064f849a",
        "type": "function",
        "z": "697e89ea22f759ba",
        "name": "Preparar INSERT",
        "func": "let valor = parseInt(msg.payload);\n\nif (isNaN(valor)) {\n    return null;\n}\n\nmsg.query = \"INSERT INTO dispensador_log(valor) VALUES ($1) RETURNING *;\";\nmsg.params = [valor];\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 700,
        "wires": [
            [
                "0f9c42e71c04951d",
                "1a227dd45af53db1"
            ]
        ]
    },
    {
        "id": "0f9c42e71c04951d",
        "type": "postgresql",
        "z": "697e89ea22f759ba",
        "name": "",
        "query": "",
        "postgreSQLConfig": "7dba17bbd84fcdde",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 890,
        "y": 760,
        "wires": [
            [
                "9791ad0a5454edc5"
            ]
        ]
    },
    {
        "id": "1a227dd45af53db1",
        "type": "debug",
        "z": "697e89ea22f759ba",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 890,
        "y": 860,
        "wires": []
    },
    {
        "id": "9791ad0a5454edc5",
        "type": "debug",
        "z": "697e89ea22f759ba",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1130,
        "y": 820,
        "wires": []
    },
    {
        "id": "95281fd464a5f30c",
        "type": "mqtt in",
        "z": "697e89ea22f759ba",
        "name": "MQTT In RFID UID",
        "topic": "tacho/rfid",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 1580,
        "wires": [
            [
                "800a4a176a1a6c86"
            ]
        ]
    },
    {
        "id": "800a4a176a1a6c86",
        "type": "ui_text",
        "z": "697e89ea22f759ba",
        "group": "48ee835c9ef19c9b",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Mostrar UID RFID",
        "label": "UID RFID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 1580,
        "wires": []
    },
    {
        "id": "36a5ce99a0824504",
        "type": "ui_button",
        "z": "697e89ea22f759ba",
        "name": "Dispensar Pastillas",
        "group": "grupo1",
        "order": 1,
        "width": "6",
        "height": "2",
        "passthru": false,
        "label": "Dispensar Pastilla",
        "tooltip": "Activa el motor para una dosis",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-capsules",
        "payload": "50",
        "payloadType": "str",
        "topic": "tacho/activacion/motorpaso",
        "topicType": "str",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "5c1323020433225a"
            ]
        ]
    },
    {
        "id": "5c1323020433225a",
        "type": "mqtt out",
        "z": "697e89ea22f759ba",
        "name": "Publicar Activaci贸n",
        "topic": "tacho/activacion/motorpaso",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5f3b35a4.8158fc",
        "x": 540,
        "y": 440,
        "wires": []
    },
    {
        "id": "489a423538b76fec",
        "type": "function",
        "z": "697e89ea22f759ba",
        "name": "Preparar INSERT",
        "func": "let valor = Number(msg.payload);  // Asegura que sea n煤mero\nmsg.query = \"INSERT INTO dispensador_log(valor) VALUES ($1)\";\nmsg.params = [valor];\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 540,
        "wires": [
            [
                "929b8d2577a2234b",
                "60b7f3cab47c58bd"
            ]
        ]
    },
    {
        "id": "929b8d2577a2234b",
        "type": "debug",
        "z": "697e89ea22f759ba",
        "name": "Debug Insert",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 580,
        "y": 620,
        "wires": []
    },
    {
        "id": "60b7f3cab47c58bd",
        "type": "postgresql",
        "z": "697e89ea22f759ba",
        "name": "Insertar en PostgreSQL",
        "query": "INSERT INTO dispensador_log(valor) VALUES ($1) RETURNING *;",
        "postgreSQLConfig": "7dba17bbd84fcdde",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 620,
        "y": 540,
        "wires": [
            [
                "674c5f76af1413ab"
            ]
        ]
    },
    {
        "id": "674c5f76af1413ab",
        "type": "debug",
        "z": "697e89ea22f759ba",
        "name": "Debug PostgreSQL",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 580,
        "wires": []
    },
    {
        "id": "44a62dc1a05ef918",
        "type": "ui_switch",
        "z": "697e89ea22f759ba",
        "name": "Motor A",
        "label": "Motor A",
        "tooltip": "Activa o desactiva el servo",
        "group": "grupo1",
        "order": 1,
        "width": "6",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "tacho/motorA",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 220,
        "y": 1360,
        "wires": [
            [
                "d13acfe427c46338"
            ]
        ]
    },
    {
        "id": "36c0dd99faad7189",
        "type": "function",
        "z": "697e89ea22f759ba",
        "name": "Preparar INSERT",
        "func": "let valor = Number(msg.payload);  // Asegura que sea n煤mero\nmsg.query = \"INSERT INTO dispensador_log(valor) VALUES ($1)\";\nmsg.params = [valor];\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1400,
        "wires": [
            [
                "5bfbb60a8fa4ec27",
                "60d81d1f728e1ed2"
            ]
        ]
    },
    {
        "id": "5bfbb60a8fa4ec27",
        "type": "debug",
        "z": "697e89ea22f759ba",
        "name": "Debug Insert",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 940,
        "y": 1480,
        "wires": []
    },
    {
        "id": "60d81d1f728e1ed2",
        "type": "postgresql",
        "z": "697e89ea22f759ba",
        "name": "Insertar en PostgreSQL",
        "query": "INSERT INTO dispensador_log(valor) VALUES ($1) RETURNING *;",
        "postgreSQLConfig": "7dba17bbd84fcdde",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 980,
        "y": 1400,
        "wires": [
            [
                "2ef4be735016d580"
            ]
        ]
    },
    {
        "id": "2ef4be735016d580",
        "type": "debug",
        "z": "697e89ea22f759ba",
        "name": "Debug PostgreSQL",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 1440,
        "wires": []
    },
    {
        "id": "d13acfe427c46338",
        "type": "mqtt out",
        "z": "697e89ea22f759ba",
        "name": "Publicar Activaci贸n",
        "topic": "tacho/motorA",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5f3b35a4.8158fc",
        "x": 430,
        "y": 1340,
        "wires": []
    },
    {
        "id": "5374909e0427c4d5",
        "type": "mqtt in",
        "z": "697e89ea22f759ba",
        "name": "Escuchar Activaci贸n",
        "topic": "tacho/motorA",
        "qos": "2",
        "datatype": "auto",
        "broker": "5f3b35a4.8158fc",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 1440,
        "wires": [
            [
                "36c0dd99faad7189"
            ]
        ]
    },
    {
        "id": "2560a9cff9eb4a25",
        "type": "mqtt in",
        "z": "697e89ea22f759ba",
        "name": "Escuchar Activaci贸n",
        "topic": "tacho/activacion/motorpaso",
        "qos": "2",
        "datatype": "auto",
        "broker": "5f3b35a4.8158fc",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "489a423538b76fec"
            ]
        ]
    },
    {
        "id": "b44b5756bf8a5b00",
        "type": "ui_switch",
        "z": "697e89ea22f759ba",
        "name": "Motor B",
        "label": "Motor B",
        "tooltip": "Activa o desactiva el servo",
        "group": "grupo1",
        "order": 1,
        "width": "6",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "tacho/motorB",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 280,
        "y": 1720,
        "wires": [
            [
                "e4fb1846fcce9b6c"
            ]
        ]
    },
    {
        "id": "72b91921ed79a94f",
        "type": "function",
        "z": "697e89ea22f759ba",
        "name": "Preparar INSERT",
        "func": "let valor = Number(msg.payload);  // Asegura que sea n煤mero\nmsg.query = \"INSERT INTO dispensador_log(valor) VALUES ($1)\";\nmsg.params = [valor];\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1760,
        "wires": [
            [
                "0f98df0463d8af37",
                "2fc2c661726209ad"
            ]
        ]
    },
    {
        "id": "0f98df0463d8af37",
        "type": "debug",
        "z": "697e89ea22f759ba",
        "name": "Debug Insert",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1000,
        "y": 1840,
        "wires": []
    },
    {
        "id": "2fc2c661726209ad",
        "type": "postgresql",
        "z": "697e89ea22f759ba",
        "name": "Insertar en PostgreSQL",
        "query": "INSERT INTO dispensador_log(valor) VALUES ($1) RETURNING *;",
        "postgreSQLConfig": "7dba17bbd84fcdde",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1040,
        "y": 1760,
        "wires": [
            [
                "3eeb22b86abfbc35"
            ]
        ]
    },
    {
        "id": "3eeb22b86abfbc35",
        "type": "debug",
        "z": "697e89ea22f759ba",
        "name": "Debug PostgreSQL",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 1800,
        "wires": []
    },
    {
        "id": "e4fb1846fcce9b6c",
        "type": "mqtt out",
        "z": "697e89ea22f759ba",
        "name": "Publicar Activaci贸n",
        "topic": "tacho/motorB",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5f3b35a4.8158fc",
        "x": 490,
        "y": 1700,
        "wires": []
    },
    {
        "id": "85d9df5dee0c3d30",
        "type": "mqtt in",
        "z": "697e89ea22f759ba",
        "name": "Escuchar Activaci贸n",
        "topic": "tacho/motorB",
        "qos": "2",
        "datatype": "auto",
        "broker": "5f3b35a4.8158fc",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 1800,
        "wires": [
            [
                "72b91921ed79a94f"
            ]
        ]
    },
    {
        "id": "24867e155029950b",
        "type": "e-mail",
        "z": "697e89ea22f759ba",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "juanaolaez95@gmail.com",
        "dname": "Alerta",
        "x": 710,
        "y": 1060,
        "wires": []
    },
    {
        "id": "4e35df549a11eb11",
        "type": "mqtt in",
        "z": "697e89ea22f759ba",
        "name": "Lectura Sensor Agua",
        "topic": "tacho/sensor/agua",
        "qos": "0",
        "datatype": "auto",
        "broker": "0f9e1744b90d29b2",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 1060,
        "wires": [
            [
                "d1fd972ddde22cfa"
            ]
        ]
    },
    {
        "id": "d1fd972ddde22cfa",
        "type": "function",
        "z": "697e89ea22f759ba",
        "name": "Preparar correo",
        "func": "let valor = parseInt(msg.payload);\n\nif (isNaN(valor)) return null;\n\nif (valor < 1000) {\n    msg.topic = \" Alerta del Sensor de Agua\";\n    msg.payload = `锔 No se detecta agua en el sistema.\n\nValor del sensor: ${valor}\nFecha: ${new Date().toLocaleString()}`;\n    return msg;\n} else {\n    return null; // No enviar correo si el valor es alto\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1060,
        "wires": [
            [
                "24867e155029950b"
            ]
        ]
    },
    {
        "id": "grupo1",
        "type": "ui_group",
        "name": "Control de Servos",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f3b35a4.8158fc",
        "type": "mqtt-broker",
        "name": "Broker MQTT",
        "broker": "10.31.6.8",
        "port": "1883",
        "clientid": "nodered_client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "tacho/estado",
        "birthQos": "2",
        "birthPayload": "Sistema iniciado",
        "birthMsg": {},
        "closeTopic": "tacho/estado",
        "closeQos": "2",
        "closePayload": "Sistema apagado",
        "closeMsg": {},
        "willTopic": "tacho/estado",
        "willQos": "2",
        "willPayload": "Desconectado",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7dba17bbd84fcdde",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "medicamentos",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "utng",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    },
    {
        "id": "0f9e1744b90d29b2",
        "type": "mqtt-broker",
        "name": "Broker Local",
        "broker": "10.31.6.8",
        "port": "1883",
        "clientid": "NodeRED-Agua",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b9368bcd6ac405fb",
        "type": "ui_group",
        "name": "Sensor Agua",
        "tab": "e92c7ef58b194d56",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Broker Local",
        "broker": "10.31.6.8",
        "port": "1883",
        "clientid": "node_red_client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "48ee835c9ef19c9b",
        "type": "ui_group",
        "name": "Motor & RFID Dashboard",
        "tab": "94c0a40d8b55ef1f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "Tachomorfinador",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e92c7ef58b194d56",
        "type": "ui_tab",
        "name": "Agua",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "94c0a40d8b55ef1f",
        "type": "ui_tab",
        "name": "Control de Motores y RFID",
        "icon": "fa-cogs",
        "order": 1
    }
]